<div class="row">
  <div class="col-auto">
    <h2>Welcome, to {{name}}!</h2>
    <p>Hosted by {{host.firstname}} {{host.lastname}}</p>
    <p>{{address}}</p>
    <a href="{{website}}" target="_blank">{{website}}</a>
  </div>
</div>